crewai[tools]==0.130.0
embedchain==0.1.128

streamlit==1.46.0
python-dotenv==1.1.0
setuptools>=65.0.0,<81.0.0

thefuzz==0.22.1

# AI/ML dependencies
openai==1.90.0
langchain==0.3.26
langchain-openai==0.2.14

# Dev
pytest==8.4.1
black==25.1.0
flake8==7.3.0
pre-commit==4.2.0

# Utilitários
pandas==2.3.0
numpy==2.3.1
requests==2.32.4
